Don't[[:space:]]Buy[[:space:]]Alexa![[:space:]]Build[[:space:]]Your[[:space:]]Own.[[:space:]]Create[[:space:]]a[[:space:]]Virtual[[:space:]]Assistant[[:space:]]with[[:space:]]Python[[:space:]][[:space:]]Python[[:space:]]Project[[:space:]][[:space:]]Jarvis[[:space:]]AI.mp4 filter=lfs diff=lfs merge=lfs -text
R.7z filter=lfs diff=lfs merge=lfs -text
